*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    height: 300vh;
    padding-top: 180px;
}

header{
    position:fixed;
    top: 0;
    width: 100%;
    z-index:999;
}

.container1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    background-color: #fcb5e4;
    border-bottom: solid 1px;
}

.Logo{
    margin-left: 30px;
    

}
.Logob{
    text-decoration: none;
    background-image: url(/imagens\ do\ design/.Logo);
    
}

.Social{
    margin-right: 30px;
}

.Socialb{
    height: 30px;
    width: 30px;
}

.container2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #d183b7;
    padding: 20px;
    border-bottom: solid 1px;
}

.container2n{
    margin: 0px 20px;
    text-decoration: none;
}


.container2 a{
    color: white;
    transition-duration:0.4s;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.container2 a:hover{
    color: white;
    background-color: rgba(255, 255, 255, 0.11);
    padding: 10px 10px 10px 13px;
    
}
.container2 button{
    padding: 4px 20px;
    transition-duration:0.6s;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
}
.container2 button:hover{
    padding: 12px 32px;
    background-color: rgb(202, 83, 123);
    color: white;
}
.conteudo1{
    background-image: url(campanha2.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 500px;
    margin-top: 20px;

}
.conteudo1Texto{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.textprinc{
    font-size: 60px;
    color: rgb(0, 0, 0);
}

.subtextprinc{
    font-size: 50px;
    color: rgb(0, 0, 0);
}
.conteudo1Texto2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0px;
    
}