*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    height: 300vh;
    padding-top: 220px;
}

header{
    position:fixed;
    top: 0;
    width: 100%;
    z-index:999;
}

.container1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    background-color: #fcb5e4;
}

.Logo{
    margin-left: 0px;  
}

.Logob{
    text-decoration: none;
    width: 90px;
    padding: 5px;
    transition-duration: 0.5s;
}

.Logob:hover{
    text-decoration: none;
    width: 120px;
    background-color: rgba(255, 255, 255, 0.39);
}

.Unidos{
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 30px;
    padding: 4px 10px;
    border: solid 2px;
    transition-duration: 0.5s;
}

.Unidos:hover{
    background-color: rgba(255, 255, 255, 0.192);
    font-size: 40px;
    padding: 4px 10px;
    color: black;
}

.Social{
    margin-right: 30px;
}


.Socialb1{
    height: 30px;
    width: 30px;
    margin: 0px 2px;
    background-image: url(youtube.png);
    background-size: cover;
    border:none;
}

.Socialb1:hover{
    height: 30px;
    width: 30px;
    margin: 0px 2px;
    background-image: url(youtube.png);
    background-size: cover;
    border:none;
}

.Socialb2{
    height: 30px;
    width: 30px;
    margin: 0px 2px;
    background-image: url(facebook.png);
    background-size: cover;
    border:none;
}

.Socialb3{
    height: 30px;
    width: 30px;
    margin: 0px 2px;
    background-image: url(instagram.png);
    background-size: cover;
    border:none;
}



.container2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fcb5e4;
    padding: 20px;
    border-bottom: solid 1px;
}

.container2n{
    margin: 0px 20px;
    text-decoration: none;
}


.container2 a{
    color: white;
    transition-duration:0.4s;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.container2 a:hover{
    color: white;
    background-color: rgba(255, 255, 255, 0.11);
    padding: 10px 10px 10px 13px;
    
}
.container2 button{
    padding: 4px 20px;
    transition-duration:0.6s;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
}
.container2 button:hover{
    padding: 12px 32px;
    background-color: rgb(211, 103, 139);
    color: white;
}
.conteudo1{
    background-image: url(campanha2.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 500px;
    margin-top: 20px;

}
.conteudo1Texto{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.textprinc{
    font-size: 60px;
    color: rgb(0, 0, 0);
}

.subtextprinc{
    font-size: 50px;
    color: rgb(0, 0, 0);
}
.conteudo1Texto2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0px;
    padding: 30px;
    background-color: #eec5e09d;
    
}

.section1{

}
.saiba{
    margin-top: 15px;
    padding: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}







footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #e9892b;
    width: 1000px;
}